<% content_for :head do %>
  <meta property="og:url"           content="http://www.jwade.io" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Jeremy Wade" />
  <meta property="og:description"   content="Social Entrepreneur | Educator | Web Developer | Consultant" />
  <meta property="og:image"         content="<%=asset_url('headpic1.jpg') %>" />
  <meta property="og:image:width"   content="600" /> 
  <meta property="og:image:height"  content="541" />
  <meta property="fb:app_id"        content="1535582636740127" />
<% end %>
<div class="main-container">
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('intro13.jpg', class: 'background-image', alt: 'Intro') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="text-white space-bottom-small"></h2>
							<h1 class="text-white space-bottom-xlarge">Workup</h1>
							<h2 class="text-white space-bottom-medium">part time jobs for the new economy</h2>
							<%= link_to "Learn More", "https://medium.com/@chatwithjai/introducing-jai-your-ai-powered-startup-mentor-c4eca3ff6722#.jewffkkhh", :class => "btn btn-primary btn-white" %>

							<%= link_to "Apply", "https://jsie.typeform.com/to/zHxLCp", :class => "btn btn-primary btn-filled" %>
							<div class="spacer-40"></div>
						</div>
					</div>
				</div>
			</header>
		</div>
		