<% content_for :head do %>
  <meta property="og:url"           content="http://www.workup.solutions" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="WorkUp" />
  <meta property="og:description"   content="Part time jobs in the digital economy" />
  <meta property="og:image"         content="<%=asset_url('#') %>" />
  <meta property="og:image:width"   content="600" /> 
  <meta property="og:image:height"  content="541" />
  <meta property="fb:app_id"        content="1535582636740127" />
<% end %>
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('intro16.jpg', class: 'background-image', alt: 'Intro') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="text-white space-bottom-small"></h2>
							<h1 class="text-white space-bottom-large"></h1>
							<h2 class="space-bottom-medium">PART TIME JOBS IN THE DIGITAL ECONOMY</h2></div>
							<div class="spacer-30"></div>
							<%= link_to "Apply »", apply_path, :class => "btn btn-primary btn-filled" %>
							<div class="spacer-40"></div>
						</div>
					</div>
				</div>
			</header>
		</div>
		