<div class="nav-container">
	
			<nav class="nav-1">
				<div class="navbar">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-4">
								<%= link_to root_path do %>
									<%= image_tag('wlogo.png', class: 'logo', alt: 'WorkUp') %>
								<% end %>
							</div>

								<!-- Brand and toggle get grouped for better mobile display -->
            				<div class="mobile-toggle">
            				<ul class="nav navbar-nav navbar-right">
                    		<li class="active">
                    		</li>
                			</ul>
                		<button type="button" class="navbar-toggle" class: "btn btn-filled" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                		</button>
            			
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
					
							<div class="col-md-6 text-center col-md-pull-3 col-sm-12 col-xs-12">
								<ul class="menu">
									<li>
										<a href="#">
											
										</a>
									</li>
							
									<li class="has-dropdown">
										<a href="#">
											
										</a>
										<ul class="subnav">
											<li>
												<a href="#">
													
												</a>
											</li>
									
											<li class="has-dropdown">
												<a href="#">
													
												</a>
												<ul class="subnav">
													<li>
														<a href="#">
															
														</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</div>
				
						</div>
					</div>
				</div>
			</nav>
		
	